.nav-bar {
    background-color: #1b1f42;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.fa-house {
  color: white;
  font-size: 24px;
}

.nav-link {
    color: white;
    margin-left: 10px;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #33376b;
    cursor: pointer;
}

.nav-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.nav-username {
    color: white;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}

.nav-logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}