.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  border-radius: 12px; 
  overflow: hidden; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.product-card img {
  width: 100%;
  height: 100px; 
  object-fit: contain;
  margin-bottom: 15px;
}

.card-content {
    padding: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 15px; 
  border-top: 1px solid #eeeeee;
}

.product-price {
  margin: 0; 
  font-size: 1.4em; 
  font-weight: 700; 
  color: #007bff;
}

.card-actions button {
  padding: 10px 20px;
  border: 2px solid #007bff; 
  border-radius: 8px; 
  background-color: #007bff; 
  color: #ffffff; 
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-actions button:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}