.container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #666;
}

.logo-image {
    width: 100px;
    height: auto;
    margin-top: 20px;
}