form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: rgb(146, 180, 243);
    width: 20%;
    padding: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    z-index: 2;
    font-size: 16px; 
}

.input-field {
    padding: 10px 10px 10px 50px; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.submit-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #A5D6A7;
    cursor: not-allowed; 
    opacity: 0.7; 
}

.validation-message {
    color: #ee0c0c;
    font-size: 14px;
    margin-bottom: 5px;
}